@use "../styles/abstracts/variables" as *;

.recipes-list {
    display: grid;
    grid-template-columns: repeat(3, 376px);
    gap: $spacing-400;
    margin-block-start: $spacing-300;
    justify-content: center;
    grid-row: 3 / 4;
}

@media(max-width: 1250px) {
    .recipes-list {
        grid-template-columns: repeat(2, 376px);
    }
}

@media(max-width: 1024px) {
    .recipes-list {
        grid-template-columns: 100%;
    }
}

@media(max-width: 1024px) {
    .recipes-list {
        margin-block-end: $spacing-0;
    }
}