@use "../abstracts/variables" as *;

.img-with-white-wrapper {
    width: 60px;
    height: 60px;
    background-color: $clr-neutral-0;
    align-content: center;
    border-radius: $radius-12;
    padding: $spacing-050 $spacing-100;
    border: 1px solid #e9ede8;
    box-shadow: 0 1px 0 0 #e9ede8;
}

.margin-center {
    margin: $spacing-0 auto;
}

.large {
    padding: $spacing-200 $spacing-400;
}

.medium {
    padding: $spacing-200 $spacing-300;
}

.regular {
    padding: $spacing-150 $spacing-200;
}

.text-highlight {
    background-color: $clr-orange-500;
}

.rounded-full {
    border-radius: 100vw !important;
}