@use "../abstracts/variables" as *;

.about-intro-banner {
    max-width: 1192px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: $spacing-800;
    text-align: start;
    padding-block: $spacing-1000 $spacing-1200;

    @media (max-width: 1024px) {
        flex-direction: column;
        padding-block: 0 80px;
        gap: 64px;
    }

    @media (max-width: 768px) {
        padding-block: 0 64px;
        gap: 40px;
    }
}

.about-intro-banner > div {
    width: 100%;
    flex-grow: 1;
}

.about-intro-banner__img {
    border-radius: $radius-20;
}
