@use "../abstracts/variables" as *;

.beyond-the-plate-section {
    max-width: 1192px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 376px 1fr;
    gap: 64px;
    padding-block: $spacing-1200;
    text-align: start;

    @media (max-width: 1024px) {
        grid-template-columns: 100%;
        gap: 40px;
        padding-block: 80px 0;
    }

    @media (max-width: 768px) {
        gap: 32px;
        padding-block: 48px;
    }
}

img {
    border-radius: 20px;

    @media (max-width: 768px) {
        border-radius: 10px;
    }
}

.beyond-the-plate-section + .cta-banner {
    @media (max-width: 768px) {
        margin: 0;
    }
}