@use "../abstracts/variables" as *;

.cta-banner {
    max-width: 1192px;
    margin: 0 auto;
    text-align: center;
    padding-block: $spacing-1200;
    border-radius: $radius-16;
    background-color: $clr-neutral-200;
    background-image: url("../../../../public/assets/images/pattern-fork.svg"), url("../../../../public/assets/images/pattern-knife.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -73px 23px, 924px 24px;
    background-size: contain, contain;
}

.cta-banner__title {
    margin-block-end: $spacing-150;
    font-size: 48px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.4px;
}

.cta-banner__btn {
    margin-block-start: $spacing-500;
    font-size: 18px;
    padding: 16px 24px;
}