@use "../abstracts/variables" as *;

.cta-banner {
    max-width: 1192px;
    margin: 0 auto;
    text-align: center;
    padding-block: $spacing-1200;
    border-radius: $radius-16;
    background-color: $clr-neutral-200;
    background-image: url("../../../../public/assets/images/pattern-fork.svg"), url("../../../../public/assets/images/pattern-knife.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -73px 23px, 924px 24px;
    background-size: contain, contain;

    @media (max-width: 1024px) {
        padding-block: 80px;
        margin-block-start: 80px;
    }

    @media (max-width: 768px) {
        background-image: none;
        padding: 48px 16px;
        margin-block-start: 64px;
    }
}

.cta-banner__title {
    margin-block-end: $spacing-150;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: -3%;

    @media (max-width: 768px) {
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: -2px;
        margin: 0;
    }
}

p {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.4px;
}

.cta-banner__btn {
    margin-block-start: $spacing-500;
    font-size: 18px;
    padding: 16px 24px;

    @media (max-width: 768px) {
        margin-block-start: 32px;
        line-height: 1.4;
    }
}