@use "../abstracts/variables" as *;

.hero-banner__wrapper {
    padding-block-end: $spacing-1200;
    max-width: 1192px;
    margin: 0 auto;
}

.hero-banner__title {
    margin: 96px auto $spacing-150 auto;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: -2px;
    width: fit-content;
    /* background: $clr-orange-500 url("https://www.airstarkennels.com/images/m-main-background.webp") left bottom/100px 100px no-repeat;
    background-color: $clr-orange-500;
    background-position: top left;
    background-size: 100px;
    background-repeat: no-repeat; */
}

.hero-banner__description {
    margin-block-end: $spacing-500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.4px;
}

.hero-banner__btn {
    margin-block-end: $spacing-1000;
    font-size: 20px;
    letter-spacing: 1.4;
    letter-spacing: -0.5px;
    padding: 16px 32px;
}