$clr-neutral-900: rgb(22, 58, 52);
$clr-neutral-600: rgb(57, 88, 82);
$clr-neutral-300: rgb(208, 220, 217);
$clr-neutral-200: rgb(224, 230, 227);
$clr-neutral-100: rgb(246, 245, 241);
$clr-neutral-0: rgb(255, 255, 255);
$clr-orange-500: rgb(254, 159, 107);
$clr-teal-500: rgb(73, 172, 155);
$clr-indigo-500: rgb(105, 125, 219);

$spacing-0: 0;
$spacing-025: 2px;
$spacing-050: 4px;
$spacing-075: 6px;
$spacing-100: 8px;
$spacing-125: 10px;
$spacing-150: 12px;
$spacing-200: 16px;
$spacing-250: 20px;
$spacing-300: 24px;
$spacing-400: 32px;
$spacing-500: 40px;
$spacing-600: 48px;
$spacing-800: 64px;
$spacing-1000: 80px;
$spacing-1200: 96px;
$spacing-1400: 112px;
$spacing-1600: 128px;
$spacing-1800: 140px;

$radius-0: 0;
$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-full: 999px;