@use "../abstracts/_variables" as *;

.header {
    display: flex;
    align-items: center;
    padding: $spacing-250 60px;
    border-block-end: 1px solid $clr-neutral-300;
}

.header__navigation {
    flex-grow: 1;
}

.header__navigation__nav-items-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}
