@use "../abstracts/_variables" as *;
@use "../abstracts/mixins" as *;

.header {
    display: flex;
    align-items: center;
    padding: $spacing-250 60px;
    border-block-end: 1px solid $clr-neutral-300;

    @media (max-width: 1024px) {
        padding: $spacing-400 $spacing-400 $spacing-250 $spacing-400;
    }

    @media (max-width: 768px) {
        padding: $spacing-200;
    }
}

.header__navigation {
    flex-grow: 1;
}

.header__navigation__nav-items-list {
    display: flex;
    justify-content: center;
    gap: $spacing-500;
}

.header__navigation__nav-link {
    @include typographyMixin(18px, 600, 1.5, -0.3px);

    color: $clr-neutral-900;
}

.header button {
    @include typographyMixin(20, 700, 1.4, -0.5px);
}
