@use "../styles/abstracts/variables" as *;
@use "../styles/abstracts/mixins" as *;

.main {
    margin-block-end: $spacing-1200;

    @media (min-width: 1024px) and (max-width: 1250px) {
        padding-inline: $spacing-400;
    }

    @media (max-width: 1024px) {
        margin-block-end: $spacing-0;
        padding-inline: $spacing-400;
    }

    @media (max-width: 768px) {
        padding-inline: $spacing-200;
    }
}

.main > * {
    grid-column: 1 / -1;
}

hr {
    border: none;
    border-top: 1px solid $clr-neutral-300;

    @media (max-width: 1024px) {
        border-top: none;
    }
}

h1 {
    @include typographyMixin(48px, 800, 1.2, -2px);
    
    margin: $spacing-0;

    @media (max-width: 768px) {
        font-size: 40px;
    }
}

p {
    @include typographyMixin(20px, 500, 1.5, -2%);
    
    margin: $spacing-0;

    @media (max-width: 1024px) {
        letter-spacing: -0.4px;
    }
}

.recipes-intro-banner {
    display: flex;
    flex-direction: column;
    margin-block-start: $spacing-1000;
    margin-block-end: $spacing-800;
    gap: $spacing-150;

    @media (max-width: 1024px) {
        text-align: start;
    }

    @media (max-width: 768px) {
        margin-block: $spacing-600;
    }
}

.sorting-section {
    display: flex;
    gap: $spacing-200;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: $spacing-150;
    }
}

.select-button {
    display: flex;
    align-items: center;
    gap: $spacing-100;

    @media(max-width: 768px) {
        justify-content: center;
    }
}

.select-button:hover:not(:focus-within) {
    border-color: currentColor;
}

.select-button:focus-within {
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px rgb(22, 58, 52);
    outline: none;
    border-color: none;
}

.select-button:first-of-type {
    grid-column: 1 / span 2;
}

.select-button:last-of-type {
    grid-column: 3 / span 2;
}

.search-container {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(208, 220, 217);
    border-radius: $radius-10;
    padding: $spacing-125 $spacing-200;
    display: flex;
    gap: $spacing-100;
    width: 310px;
    margin-inline-start: auto;
    cursor: pointer;

    @media (max-width: 768px) {
        margin-inline-start: $spacing-0;
        width: 100%;
    }
}

.search-container:hover:not(:focus-within) {
    border-color: rgb(22, 58, 52);
}

.search-container:focus-within {
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 4px rgb(22, 58, 52);
    outline: none;
    border-color: none;
}

.search-icon {
    width: 20px;
    aspect-ratio: 1 / 1;
}

input[type="search"] {
    @include typographyMixin(18px, 600, 1.5, -0.3px);

    border: none;
    flex-grow: 1;
    color: rgb(22, 58, 52);
    cursor: inherit;
}

input[type="search"]:focus-visible {
    outline: none;
}

input[type="search"]::placeholder {
    color: rgba(22, 58, 52, 0.7);
}

#max-prep-btn {
    anchor-name: --prep-anchor;
}

#max-cook-btn {
    anchor-name: --cook-anchor;
}

#max-prep-popover,
#max-cook-popover {
    position: absolute;
    margin: $spacing-0;
    padding: $spacing-100;
    border: 1px solid rgb(208, 220, 217);
    border-radius: $radius-8;
    width: 240px;
    box-shadow: 0 12px 22px -12px rgb(208, 220, 217);
}

#max-prep-popover {
    position-anchor: --prep-anchor;
    left: anchor(left);
    top: calc(anchor(bottom) + 8px);
}

#max-cook-popover {
    position-anchor: --cook-anchor;
    left: anchor(left);
    top: calc(anchor(bottom) + 8px);
}

div[popover] > * {
    @include typographyMixin(18px, 500, 1.5, 0%);
    
    padding: $spacing-100;
    display: block;
    text-align: start;
}

div[popover] > button {
    @include typographyMixin(16px, 500, 1.5, -0.3px);

    background-color: transparent;
    padding-block: $spacing-025;
}

input[type="radio"] {
    margin: $spacing-0 $spacing-100 $spacing-0 $spacing-0;
    accent-color: rgb(22, 58, 52);
    display: inline-block;
    width: 16px;
    height: 16px;
}