@use "../styles/abstracts/variables" as *;
@use "../styles/abstracts/placeholders" as *;
@use "../styles/abstracts/mixins" as *;

img {
    border-radius: $radius-10;
}

.text-content {
    @include typographyMixin(16px, 500, 1.5, -0.3px);

    padding-inline: $spacing-100;
    color: rgb(57, 88, 82);
}

h2 {
    @include typographyMixin(20px, 700, 1.4, -0.5px);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

.prep-details {
    display: flex;
    flex-wrap: wrap;
    column-gap: $spacing-200;
    row-gap: $spacing-100;
    margin-block-start: $spacing-200;
    letter-spacing: -2%;

    @media (max-width: 1024px) {
        letter-spacing: -0.3px;
    }
}

.icon {
    display: inline-block;
    vertical-align: sub;
    margin-inline-end: $spacing-075;
}

a {
    @include typographyMixin(16px, 700, 1.5, -0.3px);

    @extend %btn-dark;
    display: block;
    text-align: center;
    margin-block-start: $spacing-200;
}

.recipe-card-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}