.recipes-list {
    display: grid;
    grid-template-columns: repeat(3, 376px);
    gap: 32px;
    margin-block-start: 24px;
    justify-content: center;

    @media (max-width: 1024px) {
        grid-template-columns: 100%;
    }
}