@use "../styles/abstracts/variables" as *;
@use "../styles/abstracts/mixins" as *;

.recipes-list {
    display: grid;
    grid-template-columns: repeat(3, 376px);
    gap: $spacing-400;
    margin-block-start: $spacing-300;
    justify-content: center;

    @media (min-inline-size: 1024px) and (max-inline-size: 1225px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('medium') {
        grid-template-columns: 100%;
    }
}