@use "../styles/abstracts/variables" as *;

.recipes-list {
    display: grid;
    grid-template-columns: repeat(3, 376px);
    gap: $spacing-400;
    margin-block-start: $spacing-300;
    justify-content: center;

    @media (min-width: 1024px) and (max-width: 1225px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1024px) {
        grid-template-columns: 100%;
    }
}