@use "../abstracts/_variables" as *;
@use "../base/_typography" as *;

body {
    margin: 0;
    background-color: $clr-neutral-100;
    color: $clr-neutral-600;
    font-family: "NunitoFF";
}

h1, 
h2, 
h3 {
    color: $clr-neutral-900;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
}

main {
    /* max-width: 1192px; */
    margin: 0 auto;
    text-align: center;
}